/.gitignore
/.idea/.gitignore
/.idea/deployment.xml
/.idea/*.iml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/fileTemplates/includes/PHP Class Doc Comment.php
/.idea/fileTemplates/includes/PHP File Header.php
/.idea/fileTemplates/includes/PHP Function Doc Comment.php
/.idea/fileTemplates/includes/PHP Property Doc Comment.php
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.vscode
/administrator/com_joomgallery/joomgallery.xml
/administrator/com_joomgallery/joomgallery_old.xml
/administrator/com_joomgallery/vendor
/src/administrator/com_joomgallery/vendor/
/src/administrator/com_joomgallery/joomgallery.xml
/src/administrator/com_joomgallery/joomgallery_old.xml
/vendor/
/joomla/
/dist/
/jorobo.ini
/.php-cs-fixer.cache
/tools/*.log
.DS_Store
Thumbs.db
node_modules
joomgallery_old.xml